<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<document type="freeswitch/xml">
  <section name="directory">
    <domain name="{{ domain }}">
      <params>
        <param name="dial-string" value="{^^:sip_invite_domain=${dialed_domain}:presence_id=${dialed_user}@${dialed_domain}}${sofia_contact(*/${dialed_user}@${dialed_domain})},${verto_contact(${dialed_user}@${dialed_domain})}" />
      </params>
      <groups>
        <group name="default">
          <users>
            <user id="{{ request_sip_login }}">
              <params>
                <param name="password" value="{{ request_sip_pass }}" />
              </params>
              <variables>
                <variable name="toll_allow" value="domestic,international,local" />
                <variable name="accountcode" value="{{ request_sip_login }}" />
                <variable name="user_context" value="default" />
                <variable name="effective_caller_id_name" value="{{ request_sip_login }}" />
                <variable name="effective_caller_id_number" value="{{ request_phone_src }}" />
                <variable name="outbound_caller_id_name" value="{{ outbound_caller_name | default('') }}" />
                <variable name="outbound_caller_id_number" value="{{ outbound_caller_id | default('') }}" />
                <variable name="request_phone_src" value="{{ request_phone_src }}" />
                <variable name="request_phone_dst" value="{{ request_phone_dst }}" />
                <variable name="request_call_seconds" value="{{ request_call_seconds }}" />
                <variable name="call_prefix" value="{{ call_prefix }}" />
                <variable name="deadman" value="{{ deadman }}" />
              </variables>
            </user>
          </users>
        </group>
      </groups>
    </domain>
  </section>
</document>
